html, body {
  height: 100%;
  width: 100%;
  background-color: #D8E2DC;
}
.header{
  padding: 60px;
  text-align: center;
  background-color: #FEC5BB;
  color:#F8EDEB;
  font-size: 30px;
  border: 10px solid #FEC89A;
  border-width: 10px;
  margin: 20px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #FFD7BA;
  overflow: hidden;
}
li{
  float: left;
  
}
li a{
  display: block;
  padding:14px 16px;
  background-color: #FEC89A;
  text-decoration: none;
  color: white;
  text-align: center;
}
li a:hover{
  background-color: black;
}
